/* Basic Styles */

	body {
		background: white;
		color: #323232;
		margin: 0;
		height: 100vh;
		align-items: center;
		justify-content: center;
		font-family: Helvetica neue, roboto;
	}
	
	h1 {
		font-size: 35px;
	}
	
	img {
		cursor: pointer;
	}
	
	button {
		background: #707dc7;
		color: white;
		padding: 6px 20px 6px 20px;
		position: relative;
		border: none;
		font-size: 13px;
	}
	
	button:hover {
		cursor: pointer;
	}
	
	.hide {
		display: none;
	}
	
	.wide {
		display: block;
	}
	
	.loader {
		cursor: progress;
		width: 15vw;
		margin: 0 auto;
		margin-left: 42%;
		margin-top: 30vh;
	}
	
	.tooltip {
		position: fixed;
		padding: 10px 20px;
		border: 1px solid #b3c9ce;
		border-radius: 4px;
		text-align: center;
		font: italic 14px/1.3 sans-serif;
		color: #333;
		background: #fff;
		box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
		}
		
	input {
		width: 300px;
		font-size: 13px;
		padding: 6px 0 4px 10px;
		border: 1px solid #cecece;
		background: #F6F6f6;
	}
	
	.form {
		margin-left: 30vw;
		padding-bottom: 15px;
		margin-top: 30px;
		}
		
	#message {
		text-align: center;
		margin-top: 15px;
	}
		
		

/* Table Styles */

	#myTable {
	  background: #f5ffff;
	  border-collapse: collapse;
	  text-align: left;
	  margin: 0 auto;
	}
	
	#myTable th {
	  border-top: 1px solid #777777;	
	  border-bottom: 1px solid #777777; 
	  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
	  background: linear-gradient(#9595b6, #5a567f);
	  color: white;
	  padding: 10px 15px;
	  position: relative;
	}
	
	#myTable th:after {
	  content: "";
	  display: block;
	  position: absolute;
	  left: 0;
	  top: 25%;
	  height: 25%;
	  width: 100%;
	  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
	}
	
	#myTable tr:nth-child(odd) {
	  background: #ebf3f9;
	}
	
	#myTable th:first-child {
	  border-left: 1px solid #777777;	
	  border-bottom:  1px solid #777777;
	  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
	}
	
	#myTable th:last-child {
	  border-right: 1px solid #777777;
	  border-bottom:  1px solid #777777;
	  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
	}
	
	#myTable td {
	  border: 1px solid #e3eef7;
	  padding: 10px 15px;
	  position: relative;
	  transition: all 0.5s ease;
	}
	
	#myTable tbody:hover tr:hover td {
	  color: #444444;
	  text-shadow: none;
	}
